@model IEnumerable<ThanhBuoi.Models.LoaiXe>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid pt-4 px-4">
    <div class="row">
        <div class="col-md-4">
            <div class="bg-light rounded p-4 m-4">
                <h4 class="mb-4">Tạo loại xe mới</h4>
                <form asp-action="Create" method="post">
                    <div class="mb-3">
                        <label for="ten" class="form-label">Tên:</label>
                        <input type="text" class="form-control" id="ten" name="Ten" required>
                    </div>
                    <div class="mb-3">
                        <label for="mota" class="form-label">Mô Tả:</label>
                        <input type="text" class="form-control" id="mota" name="Mota">
                    </div>
                    <div class="mb-3">
                        <label for="loaighe" class="form-label">Loại Ghế:</label>
                        <select class="form-select" id="loaighe" name="LoaiGhe" aria-label="Chọn loại ghế">
                            <option value="GN">Giường nằm</option>
                            <option value="N">Ngồi</option>
                        </select>
                    </div>
                    <div class="mb-3" id="sogheContainer" style="display:none;">
                        <label for="soghe" class="form-label">Số Ghế:</label>
                        <select class="form-select" id="soghe" name="SoGhe" aria-label="Chọn số ghế">
                            <option value="7">7</option>
                            <option value="12">12</option>
                            <option value="20">20</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Tạo mới</button>
                </form>
            </div>
            <div class="row justify-content-center">
                <div id="seatLayoutContainer" class="col-md-auto bg-light rounded m-auto p-4"></div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="bg-light rounded p-4 m-4">
                <h4 class="mb-4">Bảng xe</h4>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Tên</th>
                                <th scope="col">Mô Tả</th>
                                <th scope="col">Hành Động</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Ten)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Mota)</td>
                                    <td>
                                        <div class="btn-group" role="group">
                                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Sửa</a>
                                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Xóa</a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/js/sodoxe/index.js"></script>