@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Xác nhận email";
}

@if (Model.ModelState.IsValid)
{
    <div class="alert alert-success">
        Cảm ơn bạn đã xác nhận địa chỉ email của mình.
    </div>
}
else
{
    <div class="alert alert-danger">
        Đã xảy ra lỗi trong quá trình xác nhận email của bạn.
    </div>
}
