@model ThanhBuoi.Models.Tuyen

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Tuyến</h4>
<hr />

<form asp-action="Create">
    <div class="row">
        <div class="col-md-4">
            <div class="bg-light rounded p-4">
                <h6 class="mb-4">Basic Form</h6>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                    <label asp-for="DiemDi" class="form-label">Điểm đi</label>
                    <select class="form-select" id="HangXe" asp-for="DiemDi" name="diemdiID" aria-label="Default select example">
                        <option value="">-- Select --</option>
                        @foreach (var item in ViewBag.ListDiaDiem)
                        {
                            <option value="@item.Id">@item.Ten</option>
                        }
                    </select>
                    <span asp-validation-for="DiemDi" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="DiemDen" class="form-label">Điểm Đến</label>
                    <select class="form-select" id="HangXe" asp-for="DiemDen" name="diemdenID" aria-label="Default select example">
                        <option value="">-- Select --</option>
                        @foreach (var item in ViewBag.ListDiaDiem)
                        {
                            <option value="@item.Id">@item.Ten</option>
                        }
                    </select>
                    <span asp-validation-for="DiemDen" class="text-danger"></span>
                </div>
               
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
