@model ThanhBuoi.Models.Xe

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/_ViewImports.cshtml";
}

<h1>Edit</h1>

<h4>Xe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Ten" class="control-label"></label>
                <input asp-for="Ten" class="form-control" />
                <span asp-validation-for="Ten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BienSo" class="control-label"></label>
                <input asp-for="BienSo" class="form-control" />
                <span asp-validation-for="BienSo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaXe" class="control-label"></label>
                <input asp-for="MaXe" class="form-control" />
                <span asp-validation-for="MaXe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoaiXe" class="control-label"></label>
                <input asp-for="LoaiXe" class="form-control" />
                <span asp-validation-for="LoaiXe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

